@import url(http://fonts.googleapis.com/css?family=Anton);

body {
	font-family: 'Anton';
	font-size: 20px;
	background: #2c3e50;
	overflow: hidden;
}

#cr-stage { 
	margin: 5px 0; 
}

.game_status {
	position: absolute;
	bottom: 10px;
	width: 100%;
	line-height: 90px;
	color: #FFF;
	font-size: 60px;
  	text-align: left;
  	padding: 0 15px;
}

.game_events {
	position: absolute;
	top: 10px;
	right: 30px;
	width: 380px;
	height: 100%;
}

.game_events ul {
	list-style-type: none;
	margin: 00;
	padding: 10px;
	color: #FFF;
}